{% extends "base.html" %}
{% block extra_scripts %}

    <link type="text/css" href="{{STATIC_URL}}/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />

    <script src="{{STATIC_URL}}/static/js/jquery-1.7.min.js"></script>
    <script src="{{STATIC_URL}}/static/js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}/static/js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}/static/js/backbone-tastypie.js"></script>
    <script src="{{STATIC_URL}}/static/js/app.js"></script>
    <script src="{{STATIC_URL}}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{STATIC_URL}}/static/js/jquery-ui.multidatespicker.js"></script> 
    <script src="{{STATIC_URL}}/static/js/bootstrap-modal.js"></script> 
    
    <script>
      $(function() {
         $("#datepicker").multiDatesPicker({ firstDay: 1,  addDates: ['10/14/2011', '10/15/2011', '10/16/2011']});
      });
    </script>
{% endblock %}

{% block content %}
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Hotstreak</a>
      
      <ul class="nav">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span10">

	<div id="app" data-username="{{ username }}" data-apikey="{{api_key}}">
	  
	  <h1>Tasks</h1>
	  <ul id="tasks">
	  </ul>

	  <a class="btn" data-controls-modal="create_task_modal" data-backdrop="static" >Create task</a>

	  
          <div id="create_task_modal" class="modal hide">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Create task</h3>
            </div>
            <div class="modal-body">
	      <form>
		<fieldset>
		  {% csrf_token %}
		  <div class="clearfix">
		    <label>Title</label>
		    <div class="input"><input id="title" type="text"></div>
		  </div>
		  <div class="clearfix">
		    <label>Description</label>
		    <div class="input"><input id="description" type="text"></div>
		  </div>
		</fieldset>
	      </form>
            </div>
            <div class="modal-footer">
	      <button id="create_task" class="btn primary create_task">Create task</button>
            </div>
          </div>


          <div id="task_calendar_modal" class="modal hide">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Mark task</h3>
            </div>
            <div class="modal-body">
	      <div id="datepicker"></div>
            </div>
            <div class="modal-footer">
	      <button class="btn primary">OK</button>
	      <button class="btn primary">Cancel</button>
            </div>
          </div>
      


	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
